<section class="col-md-12 m-auto">
  <a 
  routerLink = "/createproduct"
  class="btn btn-primary">Add Product</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allProducts">
       
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
      <td>{{item.type()}}</td> 
        <td>
          <img [src]="item.image" alt="picture">
        </td>
        <td>{{item.price}}</td>
        <td><a
          routerLink="/updateproduct/{{item.key}}"
          class="btn btn-warning">Update</a></td>
        <td><button
          (click)="onProductDelete(item.key)"
          class="btn btn-danger">Delete</button></td>

      </tr>

    </tbody>
  </table>
</section>