<section class="col-md-6 m-auto">

<form #form="ngForm" (ngSubmit)="createProduct(form)">
<h1>Create New Product</h1>
<div class="form-group">
    <label for="name">Enter product name</label>
    <input type="text"
     name="name"
     ngModel 
     placeholder="Enter here"
     class="form-control">
</div>
<div class="form-group">
    <label for="description">Enter product Description</label>
    <input type="text"
     name="description"
     ngModel 
     placeholder="Enter here"
     class="form-control">
</div>
<div class="form-group">
    <label for="price">Enter product Price</label>
    <input type="text"
     name="price" 
     ngModel
     placeholder="Enter here"
     class="form-control">
</div>
<div class="form-group">
    <label for="image">Enter product image</label>
    <input type="text"
     name="image" 
     ngModel
     placeholder="Enter here"
     class="form-control">
</div>
<div class="form-group">
    <label for="type">Enter product type</label>
<select name="type" 
class="form-control"
ngModel>
    <option value="0">Basic</option>
    <option value="1">Standart</option>
    <option value="2">Deluxe</option>
    <option value="3">Custom</option>
</select>
</div>
<div class="form-group">
    <button class="btn btn-dark col-md-12">Create Product</button>
</div>
</form>
    
</section>